.App {
  width: 500px;
  margin: auto;
}

.App h1{
  text-align: center;
}

.App h1:after{
  content: "";
  display: block;
  height: 4px;
  width: 200px;
  background-color: green;
  margin: auto;
  margin-top: 5px;
}